wcfmvcproject/Connected Services/ServiceReference2/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54243/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54243/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54243/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IService1_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getemployee_InputMessage">
    <wsdl:part name="parameters" element="tns:getemployee" />
  </wsdl:message>
  <wsdl:message name="IService1_getemployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:getemployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeeById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeById" />
  </wsdl:message>
  <wsdl:message name="IService1_GetEmployeeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_addrecord_InputMessage">
    <wsdl:part name="parameters" element="tns:addrecord" />
  </wsdl:message>
  <wsdl:message name="IService1_addrecord_OutputMessage">
    <wsdl:part name="parameters" element="tns:addrecordResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteRecordById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordById" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteRecordById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteRecordByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditRowById_InputMessage">
    <wsdl:part name="parameters" element="tns:EditRowById" />
  </wsdl:message>
  <wsdl:message name="IService1_EditRowById_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditRowByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getcustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:getcustomer" />
  </wsdl:message>
  <wsdl:message name="IService1_getcustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getcustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCustomerer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerer" />
  </wsdl:message>
  <wsdl:message name="IService1_AddCustomerer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomererResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCustomerById_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerById" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteCustomerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_EditCustomerById_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomerById" />
  </wsdl:message>
  <wsdl:message name="IService1_EditCustomerById_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomerByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_authenticate_InputMessage">
    <wsdl:part name="parameters" element="tns:authenticate" />
  </wsdl:message>
  <wsdl:message name="IService1_authenticate_OutputMessage">
    <wsdl:part name="parameters" element="tns:authenticateResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Login" message="tns:IService1_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/LoginResponse" message="tns:IService1_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getemployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getemployee" message="tns:IService1_getemployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getemployeeResponse" message="tns:IService1_getemployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetEmployeeById" message="tns:IService1_GetEmployeeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetEmployeeByIdResponse" message="tns:IService1_GetEmployeeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="addrecord">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/addrecord" message="tns:IService1_addrecord_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/addrecordResponse" message="tns:IService1_addrecord_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteRecordById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteRecordById" message="tns:IService1_DeleteRecordById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteRecordByIdResponse" message="tns:IService1_DeleteRecordById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditRowById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditRowById" message="tns:IService1_EditRowById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditRowByIdResponse" message="tns:IService1_EditRowById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getcustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getcustomer" message="tns:IService1_getcustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getcustomerResponse" message="tns:IService1_getcustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCustomerer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AddCustomerer" message="tns:IService1_AddCustomerer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AddCustomererResponse" message="tns:IService1_AddCustomerer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteCustomerById" message="tns:IService1_DeleteCustomerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteCustomerByIdResponse" message="tns:IService1_DeleteCustomerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCustomerById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/EditCustomerById" message="tns:IService1_EditCustomerById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/EditCustomerByIdResponse" message="tns:IService1_EditCustomerById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="authenticate">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/authenticate" message="tns:IService1_authenticate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/authenticateResponse" message="tns:IService1_authenticate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IService1/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getemployee">
      <soap:operation soapAction="http://tempuri.org/IService1/getemployee" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeById">
      <soap:operation soapAction="http://tempuri.org/IService1/GetEmployeeById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addrecord">
      <soap:operation soapAction="http://tempuri.org/IService1/addrecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteRecordById">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteRecordById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRowById">
      <soap:operation soapAction="http://tempuri.org/IService1/EditRowById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getcustomer">
      <soap:operation soapAction="http://tempuri.org/IService1/getcustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomerer">
      <soap:operation soapAction="http://tempuri.org/IService1/AddCustomerer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomerById">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteCustomerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCustomerById">
      <soap:operation soapAction="http://tempuri.org/IService1/EditCustomerById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticate">
      <soap:operation soapAction="http://tempuri.org/IService1/authenticate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:54243/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>