wcfmvcproject/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOftblEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tblEmployee" nillable="true" type="tns:tblEmployee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOftblEmployee" nillable="true" type="tns:ArrayOftblEmployee" />
  <xs:complexType name="tblEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" name="empno" type="xs:int" />
      <xs:element minOccurs="0" name="ename" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mgr" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="tblEmployee" nillable="true" type="tns:tblEmployee" />
  <xs:complexType name="ArrayOfcustomer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="customer" nillable="true" type="tns:customer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfcustomer" nillable="true" type="tns:ArrayOfcustomer" />
  <xs:complexType name="customer">
    <xs:sequence>
      <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="CustorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeId" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="customer" nillable="true" type="tns:customer" />
</xs:schema>